.intro {
  background-image: url("images/bg2.png");
  height: 718px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  margin-top: 10%;
}

.newHTML #others {
  filter: blur(5px);
}

body {
  background: #e5e5e5;
  background-size: cover;
}

.firstSec {
  background-color: white;
  width: 100%;
  background-size: cover;
}

a {
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #396df2;
}

.head h1 {
  position: relative;
  top: 40px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.content {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.connect {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #0015d6;
  margin: 0.1px 0.1px;
}

.humb {
  display: block;
  width: 30px;
  height: 20px;
  filter: invert(64%) sepia(66%) saturate(4989%) hue-rotate(212deg) brightness(108%) contrast(101%);
}

.icons img {
  margin-right: 25px;
}

nav .menu {
  display: none;
}

.mobMenu nav .menu {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.icons ul {
  list-style-type: none;
  display: flex;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  right: 40px;
}

.tonic2 {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  min-width: 300px;
  left: 24px;
  top: 114px;
  border-radius: 16px;
  padding: 16px;
  background: white;
}

.tonic3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 0.5px;
}

.can {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  position: relative;
  top: 2px;
}

.li2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #485160;
}

.ul2 .can {
  list-style-type: none;
}

.ul2 {
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 55px;
  margin-bottom: 0.5px;
}

.tonic2 p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.ul3 {
  display: flex;
  list-style-type: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  justify-content: space-around;
  position: relative;
  right: 50px;
  width: fit-content;
}

.ul3 li {
  background-color: #ebebff;
  color: #0018f5;
  border-radius: 8px;
  margin: 0 8px;
  padding: 5px 6px;
}

.see {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 10px;
  border: 1px solid #6070ff;
  position: relative;
  top: 30px;
  text-decoration: none;
  border-radius: 8px;
  width: fit-content;
  display: block;
  transition-property: background;
  transition-duration: 1s;
}

.see:hover {
  background-color: #6070fd;
  color: white;
}

.ul2 li::marker {
  font-size: 1.5em;
}

.outro {
  min-height: 718px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 300px 570px;
  flex-grow: 1;
  background-color: white;
}

.resume {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 10px;
  border: 1px solid #6070ff;
  text-decoration: none;
  border-radius: 8px;
  width: fit-content;
  display: block;
  transition-property: background;
  transition-duration: 1s;
}

.resume:hover {
  background: #2230d2;
  color: white;
}

.langs {
  flex-direction: column;
  justify-content: flex-start;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: stretch;
  margin-left: 0.1px;
}

.specifics {
  display: flex;
  flex-direction: column;
}

.langs li {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  position: relative;
  right: 50px;
  padding: 10px 80px 10px 10px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.font {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

hr {
  height: 1px;
  min-width: 327px;
  top: 71px;
  color: #dfe1e6;
  display: block;
}

.specifics li {
  list-style-type: none;
}

.skil {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  right: 30px;
}

.font2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
}

.arr2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.frame-icon {
  position: relative;
  top: 16px;
}

.arr2 span {
  float: right;
}

.form {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  background-image: url("images/bg-contact.png");
  background-repeat: no-repeat;
  width: 100%;
}

.form1 {
  background-image: url("images/contactBg.png");
  background-size: auto;
  margin-top: 20px;
  background-repeat: no-repeat;
}

.form h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  left: 20px;
  top: 30px;
}

.form p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.form ul {
  list-style-type: none;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: block;
  min-width: 300px;
  padding: 0;
  margin-left: 0;
}

input {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-left: 10px;
  position: relative;
  right: 8px;
}

textarea {
  height: 170px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 10px 0 0 10px;
  margin-right: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  position: relative;
  right: 7px;
}

button {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  display: block;
  color: #1a30ff;
  transition-property: background;
  transition-duration: 2s;
  background-color: #fff;
  border: none;
  margin: auto;
}

button:hover {
  background: #6070ff;
  color: white;
}

button:active {
  background-color: #2230d2;
}

.desk {
  display: none;
}

.cand {
  display: none;
}

.canm {
  display: flex;
}

.about {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  min-width: 300px;
  left: 24px;
  top: 114px;
  border-radius: 16px;
  padding: 16px;
}

.deskRuby {
  display: none;
}

.tonic3-b {
  display: none;
}

.mobMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  background: #6070ff;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100vh;
}

.mobMenu .logo,
.mobMenu .humbergur {
  display: none;
}

.cancelIcon {
  display: none;
}

.mobMenu .cancelIcon {
  display: block;
  align-self: flex-end;
  position: absolute;
  top: 5%;
  right: 12%;
}

.mobMenu nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.header {
  display: flex;
  padding: 20px;
  z-index: 999;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobMenu .menuLink a {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
  margin-top: 40px;
}

.mobMenu .cancelIcon span {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

@media (min-width: 900px) {
  .header {
    width: auto;
  }

  nav .menu {
    display: flex;
  }

  .tonic2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* grid-template-rows: 1fr; */
    padding: 24px 22px 7px 24px;

    /* max-height: 496px; */
    max-width: 100%;
    border-radius: 24px;
    column-gap: 22px;
    margin: 142px 142px;
    justify-items: center;
    align-items: center;
  }

  input,
  textarea {
    width: 100%;
  }

  nav .humb {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px 50px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    margin-right: 100px;
  }

  nav ul a {
    text-decoration: none;
    color: #344563;
  }

  nav ul li {
    margin-left: 20px;
    justify-self: flex-start;
  }

  .firstSec {
    border-bottom-left-radius: 30px;
    background-image: url("imagesdesktop/headerBg.png");
  }

  .desk {
    display: flex;
    height: 90%;
    width: 100%;
    margin-bottom: 17px;
  }

  .mob {
    display: none;
  }

  .card1 {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 90%;
    height: 90%;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .ul2 {
    margin-top: 12px;
  }

  .tonic2 p {
    margin-top: 12px;
  }

  .ul3 {
    margin-top: 12px;
  }

  .see {
    margin-top: 12px;
  }

  .desk2 {
    order: 2;
  }

  .canm {
    display: none;
  }

  .cand {
    display: flex;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 24px 22px 7px 24px;
    max-height: 92px;
    max-width: 100%;
    padding-left: 100px;
  }

  .deskRuby {
    display: flex;
  }

  .outro {
    background-color: white;
    border-top-right-radius: 70px;
  }

  .form {
    margin: auto;
    background-image: url("images/bg-contact.png");
    background-color: #051eff;
    background-size: cover;
    border-top-left-radius: 150px;
  }

  .form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url("imagesdesktop/contDesk.png");
    background-size: cover;
  }

  .form h2 {
    align-self: center;
    color: white;
    background: #6070ff;
  }

  .form ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    width: 100%;
    margin: 0;
  }

  .langs li {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
  }

  .form ul li {
    width: 35%;
    margin: auto;
  }

  .intro {
    background-image: url("imagesdesktop/desktBg.png");
    background-size: cover;
    margin-top: 0;
  }

  .introDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
    margin-top: 10%;
  }

  .content p {
    max-width: 920px;
    font-size: 20px;
    margin-top: 6px;
    margin-right: 30px;
  }

  .head h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .form p {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 569px;
    height: 102px;
    align-self: center;
    color: white;
    background: #6070ff;
  }

  .tonic3-b {
    display: flex;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .tonic3 {
    display: none;
  }

  .card1 p {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #70757e;
  }

  .langs {
    display: flex;
    flex-direction: row;
  }

  .skil {
    max-width: 684px;
    max-height: 360px;
    padding-right: 0;
  }
}
