.intro {
  background-image: url("images/header-shapes mobile@2x.png");
  min-height: 718px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  flex-grow: 1;
}

nav {
  display: flex;
  height: 20px;
  max-width: 300px;
  left: 12px;
  top: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.head h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.content {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.connect {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin: 0.1px 0.1px;
}

.humb {
  width: 30px;
  height: 20px;
  color: royalblue;
}

.icons img {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  display: flex;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  right: 45px;
}
